%h2 Attendances Record of #{@user.name} 

%hr

%h3 You Have idm
%strong.detail= @user.idm

%h3 Your attendance rate
%strong.detail= @attendance_rate

%br
%br
%br

%div.panel.panel-default
  %div.panel-heading History(Latest 7 cases)
%div.panel-body
  -# %p 
%table.table
  - @user.attendances.last(7).each do |attendance|
    %tr
      %td
        %p= "#{attendance.status}: #{attendance.user.name} #{attendance.record_time.strftime('%Y/%m/%d %H:%M:%S')}"

%canvas#myChart
%p 
  * 1.0は出席した日, 0.0は欠席した日(祝日も含まれる)

%a.btn.btn-success(href="/protect/users/#{@user.id}/edit") UserEdit
%a.btn.btn-danger(href="/protect/users/#{@user.id}/delete") UserDelete

%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"}
:javascript
  var ctx = document.getElementById('myChart').getContext('2d');
  var chart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: #{@attendance_dates},
          datasets: [{
            label: "Attendance rate this month",
            bezierCurve : false,
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: #{@attendance_status},
            fill: false,
          },{
            label: "Attendance rate of last month",
            borderColor: 'rgb(84,77,203)',
            data: #{@attendance_status_1month_ago}
          }]
      },
      options: {
      }
  });

